obj/Debug/netstandard2.0/Mods.sourcelink.json
ImplantWedgeTrader.sln
bin/Debug/netstandard2.0/0Harmony.dll
bin/Debug/netstandard2.0/Accessibility.dll
bin/Debug/netstandard2.0/Assembly-CSharp.dll
bin/Debug/netstandard2.0/Assembly-CSharp.xml
bin/Debug/netstandard2.0/com.rlabrecque.steamworks.net.dll
bin/Debug/netstandard2.0/GalaxyCSharp.dll
bin/Debug/netstandard2.0/Ionic.Zip.Unity.dll
bin/Debug/netstandard2.0/Microsoft.CodeAnalysis.CSharp.dll
bin/Debug/netstandard2.0/Microsoft.CodeAnalysis.dll
bin/Debug/netstandard2.0/Microsoft.Contracts.dll
bin/Debug/netstandard2.0/Mods.deps.json
bin/Debug/netstandard2.0/Mods.dll
bin/Debug/netstandard2.0/Mods.pdb
bin/Debug/netstandard2.0/Mono.Data.Sqlite.dll
bin/Debug/netstandard2.0/Mono.Posix.dll
bin/Debug/netstandard2.0/Mono.Security.dll
bin/Debug/netstandard2.0/Mono.WebBrowser.dll
bin/Debug/netstandard2.0/mscorlib.dll
bin/Debug/netstandard2.0/NAudio.dll
bin/Debug/netstandard2.0/netstandard.dll
bin/Debug/netstandard2.0/Newtonsoft.Json.dll
bin/Debug/netstandard2.0/Novell.Directory.Ldap.dll
bin/Debug/netstandard2.0/nunit.framework.dll
bin/Debug/netstandard2.0/NVorbis.dll
bin/Debug/netstandard2.0/Ookii.Dialogs.dll
bin/Debug/netstandard2.0/PlayFab.dll
bin/Debug/netstandard2.0/RoslynCSharp.Compiler.dll
bin/Debug/netstandard2.0/RoslynCSharp.dll
bin/Debug/netstandard2.0/RoslynCSharp.Examples.dll
bin/Debug/netstandard2.0/System.Collections.Immutable.dll
bin/Debug/netstandard2.0/System.ComponentModel.Composition.dll
bin/Debug/netstandard2.0/System.ComponentModel.DataAnnotations.dll
bin/Debug/netstandard2.0/System.Configuration.dll
bin/Debug/netstandard2.0/System.Core.dll
bin/Debug/netstandard2.0/System.Data.DataSetExtensions.dll
bin/Debug/netstandard2.0/System.Data.dll
bin/Debug/netstandard2.0/System.Design.dll
bin/Debug/netstandard2.0/System.DirectoryServices.dll
bin/Debug/netstandard2.0/System.dll
bin/Debug/netstandard2.0/System.Drawing.Design.dll
bin/Debug/netstandard2.0/System.Drawing.dll
bin/Debug/netstandard2.0/System.EnterpriseServices.dll
bin/Debug/netstandard2.0/System.IO.Compression.dll
bin/Debug/netstandard2.0/System.IO.Compression.FileSystem.dll
bin/Debug/netstandard2.0/System.Net.Http.dll
bin/Debug/netstandard2.0/System.Numerics.dll
bin/Debug/netstandard2.0/System.Reflection.Metadata.dll
bin/Debug/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
bin/Debug/netstandard2.0/System.Runtime.dll
bin/Debug/netstandard2.0/System.Runtime.Serialization.dll
bin/Debug/netstandard2.0/System.Runtime.Serialization.Formatters.Soap.dll
bin/Debug/netstandard2.0/System.Security.dll
bin/Debug/netstandard2.0/System.ServiceModel.Internals.dll
bin/Debug/netstandard2.0/System.Text.Encoding.CodePages.dll
bin/Debug/netstandard2.0/System.Threading.Tasks.Extensions.dll
bin/Debug/netstandard2.0/System.Transactions.dll
bin/Debug/netstandard2.0/System.Web.ApplicationServices.dll
bin/Debug/netstandard2.0/System.Web.dll
bin/Debug/netstandard2.0/System.Web.Services.dll
bin/Debug/netstandard2.0/System.Windows.Forms.dll
bin/Debug/netstandard2.0/System.Xml.dll
bin/Debug/netstandard2.0/System.Xml.Linq.dll
bin/Debug/netstandard2.0/Trivial.CodeSecurity.dll
bin/Debug/netstandard2.0/Trivial.Mono.Cecil.dll
bin/Debug/netstandard2.0/Trivial.Mono.Cecil.Mdb.dll
bin/Debug/netstandard2.0/Trivial.Mono.Cecil.Pdb.dll
bin/Debug/netstandard2.0/UniTask.dll
bin/Debug/netstandard2.0/Unity.InputSystem.dll
bin/Debug/netstandard2.0/Unity.MemoryProfiler.dll
bin/Debug/netstandard2.0/Unity.Services.Core.dll
bin/Debug/netstandard2.0/Unity.Services.Core.Internal.dll
bin/Debug/netstandard2.0/Unity.TextMeshPro.dll
bin/Debug/netstandard2.0/Unity.Timeline.dll
bin/Debug/netstandard2.0/UnityEngine.AccessibilityModule.dll
bin/Debug/netstandard2.0/UnityEngine.AIModule.dll
bin/Debug/netstandard2.0/UnityEngine.AndroidJNIModule.dll
bin/Debug/netstandard2.0/UnityEngine.AnimationModule.dll
bin/Debug/netstandard2.0/UnityEngine.ARModule.dll
bin/Debug/netstandard2.0/UnityEngine.AssetBundleModule.dll
bin/Debug/netstandard2.0/UnityEngine.AudioModule.dll
bin/Debug/netstandard2.0/UnityEngine.ClothModule.dll
bin/Debug/netstandard2.0/UnityEngine.ClusterInputModule.dll
bin/Debug/netstandard2.0/UnityEngine.ClusterRendererModule.dll
bin/Debug/netstandard2.0/UnityEngine.ContentLoadModule.dll
bin/Debug/netstandard2.0/UnityEngine.CoreModule.dll
bin/Debug/netstandard2.0/UnityEngine.CrashReportingModule.dll
bin/Debug/netstandard2.0/UnityEngine.DirectorModule.dll
bin/Debug/netstandard2.0/UnityEngine.dll
bin/Debug/netstandard2.0/UnityEngine.DSPGraphModule.dll
bin/Debug/netstandard2.0/UnityEngine.GameCenterModule.dll
bin/Debug/netstandard2.0/UnityEngine.GridModule.dll
bin/Debug/netstandard2.0/UnityEngine.HotReloadModule.dll
bin/Debug/netstandard2.0/UnityEngine.ImageConversionModule.dll
bin/Debug/netstandard2.0/UnityEngine.IMGUIModule.dll
bin/Debug/netstandard2.0/UnityEngine.InputLegacyModule.dll
bin/Debug/netstandard2.0/UnityEngine.InputModule.dll
bin/Debug/netstandard2.0/UnityEngine.JSONSerializeModule.dll
bin/Debug/netstandard2.0/UnityEngine.LocalizationModule.dll
bin/Debug/netstandard2.0/UnityEngine.NVIDIAModule.dll
bin/Debug/netstandard2.0/UnityEngine.ParticleSystemModule.dll
bin/Debug/netstandard2.0/UnityEngine.PerformanceReportingModule.dll
bin/Debug/netstandard2.0/UnityEngine.Physics2DModule.dll
bin/Debug/netstandard2.0/UnityEngine.PhysicsModule.dll
bin/Debug/netstandard2.0/UnityEngine.ProfilerModule.dll
bin/Debug/netstandard2.0/UnityEngine.PropertiesModule.dll
bin/Debug/netstandard2.0/UnityEngine.Purchasing.dll
bin/Debug/netstandard2.0/UnityEngine.ScreenCaptureModule.dll
bin/Debug/netstandard2.0/UnityEngine.SharedInternalsModule.dll
bin/Debug/netstandard2.0/UnityEngine.SpatialTracking.dll
bin/Debug/netstandard2.0/UnityEngine.SpriteMaskModule.dll
bin/Debug/netstandard2.0/UnityEngine.SpriteShapeModule.dll
bin/Debug/netstandard2.0/UnityEngine.StreamingModule.dll
bin/Debug/netstandard2.0/UnityEngine.SubstanceModule.dll
bin/Debug/netstandard2.0/UnityEngine.SubsystemsModule.dll
bin/Debug/netstandard2.0/UnityEngine.TerrainModule.dll
bin/Debug/netstandard2.0/UnityEngine.TerrainPhysicsModule.dll
bin/Debug/netstandard2.0/UnityEngine.TestRunner.dll
bin/Debug/netstandard2.0/UnityEngine.TextCoreFontEngineModule.dll
bin/Debug/netstandard2.0/UnityEngine.TextCoreTextEngineModule.dll
bin/Debug/netstandard2.0/UnityEngine.TextRenderingModule.dll
bin/Debug/netstandard2.0/UnityEngine.TilemapModule.dll
bin/Debug/netstandard2.0/UnityEngine.TLSModule.dll
bin/Debug/netstandard2.0/UnityEngine.UI.dll
bin/Debug/netstandard2.0/UnityEngine.UIElementsModule.dll
bin/Debug/netstandard2.0/UnityEngine.UIModule.dll
bin/Debug/netstandard2.0/UnityEngine.UmbraModule.dll
bin/Debug/netstandard2.0/UnityEngine.UnityAnalyticsCommonModule.dll
bin/Debug/netstandard2.0/UnityEngine.UnityAnalyticsModule.dll
bin/Debug/netstandard2.0/UnityEngine.UnityConnectModule.dll
bin/Debug/netstandard2.0/UnityEngine.UnityCurlModule.dll
bin/Debug/netstandard2.0/UnityEngine.UnityTestProtocolModule.dll
bin/Debug/netstandard2.0/UnityEngine.UnityWebRequestAssetBundleModule.dll
bin/Debug/netstandard2.0/UnityEngine.UnityWebRequestAudioModule.dll
bin/Debug/netstandard2.0/UnityEngine.UnityWebRequestModule.dll
bin/Debug/netstandard2.0/UnityEngine.UnityWebRequestTextureModule.dll
bin/Debug/netstandard2.0/UnityEngine.UnityWebRequestWWWModule.dll
bin/Debug/netstandard2.0/UnityEngine.VehiclesModule.dll
bin/Debug/netstandard2.0/UnityEngine.VFXModule.dll
bin/Debug/netstandard2.0/UnityEngine.VideoModule.dll
bin/Debug/netstandard2.0/UnityEngine.VirtualTexturingModule.dll
bin/Debug/netstandard2.0/UnityEngine.VRModule.dll
bin/Debug/netstandard2.0/UnityEngine.WindModule.dll
bin/Debug/netstandard2.0/UnityEngine.XR.LegacyInputHelpers.dll
bin/Debug/netstandard2.0/UnityEngine.XRModule.dll
bin/Debug/netstandard2.0/UnityMultiSelectDropdown.dll
bin/Debug/netstandard2.0/ZString.dll
obj/Mods.csproj.nuget.dgspec.json
obj/Mods.csproj.nuget.g.props
obj/Mods.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netstandard2.0/Mods.assets.cache
obj/Debug/netstandard2.0/Mods.csproj.AssemblyReference.cache
obj/Debug/netstandard2.0/Mods.csproj.CopyComplete
obj/Debug/netstandard2.0/Mods.csproj.CoreCompileInputs.cache
obj/Debug/netstandard2.0/Mods.csproj.FileListAbsolute.txt
obj/Debug/netstandard2.0/Mods.dll
obj/Debug/netstandard2.0/Mods.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/netstandard2.0/Mods.pdb
